@import url("https://fonts.cdnfonts.com/css/inner-vintage");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  transition: 1s linear;
  font-family: "Inner Vintage",
    sans-serif;
  overflow: hidden;
  width: auto;
  height: auto;
}

.bushidoLesson {
  width: 100vw;
  height: 100vh;
  background-color: red;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  justify-content: space-around;
  margin: 5px;
}

.firstLesson {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.title {
  font-size: 4rem;
}
.gameCont {
  background-image: url("../src/assets/japan-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inner Vintage",
    sans-serif;
  width: 100vw;
  height: 100vh;
  transition: 1s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.nextPrinciple {
  background-color: transparent;
  display: block;
  position: absolute;
  width: 150px;
  height: 150px;
  transition: 0.5s ease;
  bottom: 10vh;
  color: black;
  border-radius: 50%;
  font-family: "Inner Vintage",
    sans-serif;
  font-size: 25px;
  cursor: pointer;
}
.nextPrinciple:hover {
  transform: scale(1.1);
  color: #fff;
  border: 3px solid #fff;
}
.samurai {
  z-index: 1;
  border: 5px solid #fff;
  height: auto;
  width: auto;
  background-color: red;
}
#codexOne {
  background-image: url("../src/assets/firstLessonBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inner Vintage",
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
#codexTwo {
  background-image: url("../src/assets/secondLessonBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inner Vintage",
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
#codexThree {
  background-image: url("../src/assets/thirdLessonBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inner Vintage",
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
#codexFour {
  background-image: url("../src/assets/fourthLessonBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inner Vintage",
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
#codexFive {
  background-image: url("../src/assets/fifthLessonBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inner Vintage",
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
#codexSix {
  background-image: url("../src/assets/sixthLessonBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inner Vintage",
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
#codexSeven {
  background-image: url("../src/assets/seventhLessonBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inner Vintage",
    sans-serif;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
#codexEight {
  background-image: url("../src/assets/eighthLessonBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Inner Vintage",
    sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.nextPrinciple #codexEight {
  visibility: none;
}
.samuraiIntro {
  width: 700px;
  height: 400px;
  background: #fff;
  border: 3px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px
    5px 15px;
  font-size: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  position: relative;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.samuraiIntro:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 200px;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-right: 26px solid #fff;
  border-bottom: 13px solid transparent;
}
